## 꼭 알아둬야 할 자료구조 : 배열(Array)

- 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트 타입이 배열 기능을 제공하고 있음

### 1. 배열이 필요한 이유
- 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
- 같은 종류의 데이터를 순차적으로 저장

- 배열의 장점
    - 빠른 접근 가능
- 배열의 단점
    - 추가/삭제가 쉽지 않음(지정된 공간만 사용 가능하므로 추가가 어렵고 중간 내용을 삭제한다면 뒤의 내용이 앞으로 붙게 됨)

### 2. 파이썬과 C언어의 배열 예제

```
#include <stdio.h>

int main(int argc, char * argv[])
{
    char country[3] = "US";              # 미리 사이즈를 정하고 배열을 선언해야 함.
    printf("%c%c\n", country[0], country[1]);
    printf("%s\n", country);
    return 0;
}
```

In [3]:
country = 'US'
print(country)

country = country + 'A'
print(country)           # 파이썬은 이러한 방식으로 배열의 단점이 덜하고 간편하다.

US
USA

### 3. 파이썬과 배열

- 파이썬 리스트 활용

In [5]:
# 1차원 배열 : 리스트로 구현
data = [1, 2, 3, 4, 5]
print(data)

[1, 2, 3, 4, 5]

In [6]:
# 2차원 배열 : 리스트로 구현시
data = [[1, 2, 3,], [4, 5, 6], [7, 8, 9]]
print(data)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
print(data[0])

[1, 2, 3]

In [9]:
print(data[1][0])
print(data[1][1])
print(data[1][2])

4
5
6

In [ ]:
#### 연습 : dataset 에서 전체 이름 안에 M 이 몇번 나왔는지 빈도수

In [12]:
dataset = ['Braund, Mr.Owen Harris',
          'Cumings, Mrs. John Bradley(Florence Briggs Thayer)',
          'Heikkinen, Miss.Laina',
          'Futrelle, Mrs.Jacques Heath(Lily May Peel)',
          'Allen, Mr.William Henry',
          'Moran, Mr.James',
          'McCarthy, Mr.Timothj J',
          'Palsson, Master.Gosta Leonard',
          'Johnson, Mrs.Oscar W',
          'Nasser, Mrs.Nicholas',
          'Bonnel, Miss.Elizabeth',
          'Rice, Master.Eugene']

In [13]:
m_count = 0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'M':
            m_count += 1
            m_count +=1
            print(m_count)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30